
a {
    font-family: "Lucida Console", Monaco, monospace;
}


span {
    font-family: "Lucida Console", Monaco, monospace;
}

span.gopher {
    color: #FFFFFF
}

span.grass {
    color: #41770f
}

span.food {
    color: #e27522
}

body {background-color:black}
