body {
   
}
a {
    font-family: "Lucida Console", Monaco, monospace;
}

img.gopher-image {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

div#worldDiv {
    text-align: center;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 100% 100% 100%;
}

.gopher-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100% 100%;
}

.text-center {
    text-align: center;
}
  

.item-a {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #000000
}

.item-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}


span {
    font-family: "Lucida Console", Monaco, monospace;
}

.selected {
    color: #DABC00
}

.gopher {
    color: #FFFFFF
}

.grass {
    color: #41770f
}

.food {
    color: #e27522
}

