body {
   
}

img.gopher-image {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}


canvas {
    width: 100%;
    height: 400px;
}

.text-center {
    text-align: center;
}
  

span {
    font-family: "Lucida Console", Monaco, monospace;
}

.selected {
    color: #DABC00
}


.grass {
    color: #41770f
}

.food {
    color: #e27522
}

